/*
	lambda - an HTTP and Websocket server library
	{{release_time}} maddsua
	https://github.com/maddsua/lambda
*/

#ifndef __LIB_MADDSUA_LAMBDA__
#define __LIB_MADDSUA_LAMBDA__
{{global_includes}}
{{merged_includes}}
#endif
