:root {
	--app-accent: #4696E5;
}

html, body {
	font-size: 16px;
	overflow-x: hidden;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
	box-sizing: border-box;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}


html,
body {
    background: url(/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: inherit;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}
